In [2]:
library('dplyr')

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [6]:
install.packages('nycflights13', repos='http://cran.us.r-project.org')

Installing package into 'C:/Users/Lauren Redpath/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'nycflights13' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Lauren Redpath\AppData\Local\Temp\RtmpmszC9y\downloaded_packages

In [10]:
library('nycflights13')
summary(flights)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute        time_hour
 Min.   : 0.00   Min.   :2013-01-01 05:00:00
 1st Qu.: 8.00   1st Qu.:2013-04-04 13:00:00
 Median :29.00   Median :2013-07-03 10:00:00
 Mean   :26.23   Mean   :2013-07-03 05:22:54
 3rd Qu.:44.00   3rd Qu.:2013-10-01 07:00:00
 Max.   :59.00   Max.   :2013-12-31 23:00:00

In [11]:
dim(flights)
#tells you rows, columns

[1] 336776     19

In [12]:
head(filter(flights,month==11,day==3,carrier=='AA'))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    3   538      545            -7        824      855
2 2013 11    3   556      600            -4        900      905
3 2013 11    3   604      610            -6        844      855
4 2013 11    3   624      629            -5        907      929
5 2013 11    3   625      630            -5        736      805
6 2013 11    3   653      655            -2        925      920
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -31       AA      2243   N5DWAA  JFK    MIA  144      1089     5    45
2  -5       AA      1175   N3CSAA  LGA    MIA  148      1096     6     0
3 -11       AA      1103   N3KDAA  LGA    DFW  192      1389     6    10
4 -22       AA      1205   N3EJAA  EWR    MIA  141      1085     6    29
5 -29       AA       303   N4WJAA  LGA    ORD  113       733     6    30
6   5       AA      1263   N634AA  JFK    LAS  306      2248     6    55
  time_hour
1 2013-11-03 05:00:00
2 2013-11-03 06:00:00
3 2013-11-03 06:00:00
4 2013-11-03 06:00:00
5 2013-11-03 06:00:00
6 2013-11-03 06:00:00

In [14]:
head(flights[flights$month==11, flights$day==3, flights$carrier=='AA',])

ERROR: Error in `[.tbl_df`(flights, flights$month == 11, flights$day == 3, flights$carrier == : unused argument (alist())

In [16]:
slice(flights, 1:10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   517      515             2         830      819
2  2013 1     1   533      529             4         850      830
3  2013 1     1   542      540             2         923      850
4  2013 1     1   544      545            -1        1004     1022
5  2013 1     1   554      600            -6         812      837
6  2013 1     1   554      558            -4         740      728
7  2013 1     1   555      600            -5         913      854
8  2013 1     1   557      600            -3         709      723
9  2013 1     1   557      600            -3         838      846
10 2013 1     1   558      600            -2         753      745
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2   20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3   33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4  -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5  -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6   12       UA      1696   N39463  EWR    ORD  150       719     5    58
7   19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8  -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9   -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
   time_hour
1  2013-01-01 05:00:00
2  2013-01-01 05:00:00
3  2013-01-01 05:00:00
4  2013-01-01 05:00:00
5  2013-01-01 06:00:00
6  2013-01-01 05:00:00
7  2013-01-01 06:00:00
8  2013-01-01 06:00:00
9  2013-01-01 06:00:00
10 2013-01-01 06:00:00

In [17]:
flights[1:10,] #equivalent to slice but unable to pipeinto other functions

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   517      515             2         830      819
2  2013 1     1   533      529             4         850      830
3  2013 1     1   542      540             2         923      850
4  2013 1     1   544      545            -1        1004     1022
5  2013 1     1   554      600            -6         812      837
6  2013 1     1   554      558            -4         740      728
7  2013 1     1   555      600            -5         913      854
8  2013 1     1   557      600            -3         709      723
9  2013 1     1   557      600            -3         838      846
10 2013 1     1   558      600            -2         753      745
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2   20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3   33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4  -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5  -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6   12       UA      1696   N39463  EWR    ORD  150       719     5    58
7   19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8  -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9   -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
   time_hour
1  2013-01-01 05:00:00
2  2013-01-01 05:00:00
3  2013-01-01 05:00:00
4  2013-01-01 05:00:00
5  2013-01-01 06:00:00
6  2013-01-01 05:00:00
7  2013-01-01 06:00:00
8  2013-01-01 06:00:00
9  2013-01-01 06:00:00
10 2013-01-01 06:00:00

In [19]:
head(arrange(flights,year,month,month,day,air_time))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   2302     2200           62        2342     2253
2 2013 1     1   1318     1322           -4        1358     1416
3 2013 1     1   2116     2110            6        2202     2212
4 2013 1     1   2000     2000            0        2054     2110
5 2013 1     1   2056     2004           52        2156     2112
6 2013 1     1    908      915           -7        1004     1033
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  49       EV      4276   N13903  EWR    BDL  24       116      22    0
2 -18       EV      4106   N19554  EWR    BDL  25       116      13   22
3 -10       EV      4404   N15912  EWR    PVD  28       160      21   10
4 -16       9E      3664   N836AY  JFK    PHL  30        94      20    0
5  44       EV      4170   N12540  EWR    ALB  31       143      20    4
6 -29       US      1467   N959UW  LGA    PHL  32        96       9   15
  time_hour
1 2013-01-01 22:00:00
2 2013-01-01 13:00:00
3 2013-01-01 21:00:00
4 2013-01-01 20:00:00
5 2013-01-01 20:00:00
6 2013-01-01 09:00:00

In [20]:
head(arrange(flights,desc(dep_delay)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
3 2013 1     10  1121     1635           1126      1239     1810
4 2013 9     20  1139     1845           1014      1457     2210
5 2013 7     22   845     1600           1005      1044     1815
6 2013 4     10  1100     1900            960      1342     2211
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4 1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5  989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
6  931      DL      2391   N959DL  JFK    TPA  139      1005     19    0
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00
3 2013-01-10 16:00:00
4 2013-09-20 18:00:00
5 2013-07-22 16:00:00
6 2013-04-10 19:00:00

In [21]:
levels(flights$carrier)

NULL

In [22]:
levels(as.factor(flights$carrier))

 [1] "9E" "AA" "AS" "B6" "DL" "EV" "F9" "FL" "HA" "MQ" "OO" "UA" "US" "VX" "WN"
[16] "YV"

In [23]:
relevel(as.factor(flights$carrier, ref = "AA"))

ERROR: Error in as.factor(flights$carrier, ref = "AA"): unused argument (ref = "AA")

In [27]:
head(select(flights,carrier, origin))
#selects the columns which interest you

  carrier origin
1 UA      EWR
2 UA      LGA
3 AA      JFK
4 B6      JFK
5 DL      LGA
6 UA      EWR

In [31]:
head(select(flights,-carrier, -dep_time, -dep_delay, -time_hour))
#gets everything except for carrier

  year month day sched_dep_time arr_time sched_arr_time arr_delay flight
1 2013 1     1   515             830      819            11       1545
2 2013 1     1   529             850      830            20       1714
3 2013 1     1   540             923      850            33       1141
4 2013 1     1   545            1004     1022           -18        725
5 2013 1     1   600             812      837           -25        461
6 2013 1     1   558             740      728            12       1696
  tailnum origin dest air_time distance hour minute
1 N14228  EWR    IAH  227      1400     5    15
2 N24211  LGA    IAH  227      1416     5    29
3 N619AA  JFK    MIA  160      1089     5    40
4 N804JB  JFK    BQN  183      1576     5    45
5 N668DN  LGA    ATL  116       762     6     0
6 N39463  EWR    ORD  150       719     5    58

In [25]:
head(select(flights,carrier,origin,dest,everything()))
#tells which columns want to be first, second, third and  then everything else come after in whatever order

  carrier origin dest year month day dep_time sched_dep_time dep_delay arr_time
1 UA      EWR    IAH  2013 1     1   517      515             2         830
2 UA      LGA    IAH  2013 1     1   533      529             4         850
3 AA      JFK    MIA  2013 1     1   542      540             2         923
4 B6      JFK    BQN  2013 1     1   544      545            -1        1004
5 DL      LGA    ATL  2013 1     1   554      600            -6         812
6 UA      EWR    ORD  2013 1     1   554      558            -4         740
  sched_arr_time arr_delay flight tailnum air_time distance hour minute
1  819            11       1545   N14228  227      1400     5    15
2  830            20       1714   N24211  227      1416     5    29
3  850            33       1141   N619AA  160      1089     5    40
4 1022           -18        725   N804JB  183      1576     5    45
5  837           -25        461   N668DN  116       762     6     0
6  728            12       1696   N39463  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [32]:
head(rename(flights,airline_car=carrier)) #renames a column (data, newname=oldname, newname2=oldname2)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay airline_car flight tailnum origin dest air_time distance hour
1  11       UA          1545   N14228  EWR    IAH  227      1400     5
2  20       UA          1714   N24211  LGA    IAH  227      1416     5
3  33       AA          1141   N619AA  JFK    MIA  160      1089     5
4 -18       B6           725   N804JB  JFK    BQN  183      1576     5
5 -25       DL           461   N668DN  LGA    ATL  116       762     6
6  12       UA          1696   N39463  EWR    ORD  150       719     5
  minute time_hour
1 15     2013-01-01 05:00:00
2 29     2013-01-01 05:00:00
3 40     2013-01-01 05:00:00
4 45     2013-01-01 05:00:00
5  0     2013-01-01 06:00:00
6 58     2013-01-01 05:00:00

In [34]:
distinct(select(flights,carrier, origin))

#replaces unique(flights$carrier)

   carrier origin
1  UA      EWR
2  UA      LGA
3  AA      JFK
4  B6      JFK
5  DL      LGA
6  B6      EWR
7  EV      LGA
8  AA      LGA
9  UA      JFK
10 B6      LGA
11 MQ      LGA
12 AA      EWR
13 DL      JFK
14 MQ      EWR
15 DL      EWR
16 US      EWR
17 EV      EWR
18 US      JFK
19 WN      LGA
20 VX      JFK
21 FL      LGA
22 AS      EWR
23 US      LGA
24 MQ      JFK
25 9E      JFK
26 F9      LGA
27 WN      EWR
28 HA      JFK
29 EV      JFK
30 9E      EWR
31 9E      LGA
32 YV      LGA
33 OO      LGA
34 VX      EWR
35 OO      EWR

In [35]:
#make new column
head(mutate(flights, nw_col=arr_delay-dep_delay))
#use select to bring to front instead of at rear of table
#in tidyverse to pipe it = %>%
#whatever %>% select(carrier, new_col, everything())

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour           nw_col
1 2013-01-01 05:00:00   9
2 2013-01-01 05:00:00  16
3 2013-01-01 05:00:00  31
4 2013-01-01 05:00:00 -17
5 2013-01-01 06:00:00 -19
6 2013-01-01 05:00:00  16

In [36]:
summarise(flights,avg_air_time=mean(air_time,na.rm=TRUE))

  avg_air_time
1 150.6865

In [37]:
sample_n(flights,10)
#takes 10 flights at random unless set seed
#eg set.seed(10) prior to function

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  7     4   716      725            -9        954     1010
2  2013  9     5  1626     1624             2       1829     1842
3  2013  6    12   911      915            -4       1017     1033
4  2013 10    16  1925     1930            -5       2210     2233
5  2013  6     6  1051     1100            -9       1226     1245
6  2013  7    18  2109     2030            39       2230     2155
7  2013  7    23  1350     1159           111       1452     1314
8  2013  2    20   645      641             4        752      756
9  2013 12    29  1436     1351            45       1725     1731
10 2013  8     3  1909     1905             4       2222     2210
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  -16       AA      1815   N3HNAA  JFK    MCO  130       944      7   25
2  -13       UA      1139   N73256  EWR    DEN  215      1605     16   24
3  -16       9E      4258   N8506C  JFK    BWI   36       184      9   15
4  -23       UA      1618   N53441  EWR    TPA  136       997     19   30
5  -19       MQ      4471   N738MQ  LGA    RDU   74       431     11    0
6   35       WN      1271   N753SW  EWR    MDW  100       711     20   30
7   98       9E      4097   N8412F  JFK    BWI   36       184     11   59
8   -4       UA      1142   N27733  EWR    BOS   42       200      6   41
9   -6       UA      1583   N38454  EWR    SFO  331      2565     13   51
10  12       UA      1680   N37464  EWR    MIA  160      1085     19    5
   time_hour
1  2013-07-04 07:00:00
2  2013-09-05 16:00:00
3  2013-06-12 09:00:00
4  2013-10-16 19:00:00
5  2013-06-06 11:00:00
6  2013-07-18 20:00:00
7  2013-07-23 11:00:00
8  2013-02-20 06:00:00
9  2013-12-29 13:00:00
10 2013-08-03 19:00:00

In [38]:
sample_frac(flights,0.00005)
#if use use replace=TRUE for bootstrap sampling
#this is for 0.005% = 0.00005

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  2    11  1002      945            17       1145     1130
2  2013  9    30  1248     1300           -12       1427     1450
3  2013  3     6  1656     1545            71       1959     1909
4  2013  8    18  1436     1441            -5       1740     1755
5  2013  3    11   756      759            -3       1040     1032
6  2013 12    12  1029     1030            -1       1323     1324
7  2013  2     1  1527     1529            -2       1835     1837
8  2013  1     2   839      800            39       1205     1144
9  2013  8    15  1702     1700             2       1829     1845
10 2013  8    28  1824     1729            55       2010     1905
11 2013 12     3  1525     1530            -5       1928     1915
12 2013  1    11  1047     1050            -3       1214     1227
13 2013  5    29  1358     1358             0       1656     1704
14 2013  1    28   552      600            -8        828      837
15 2013  7    30   753      756            -3        930      930
16 2013  8    13  1659     1559            60       1834     1739
17 2013  9    13  1055     1100            -5       1243     1308
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   15       AA       319   N557AA  LGA    ORD  126       733      9   45
2  -23       MQ      3388   N724MQ  LGA    CMH   71       479     13    0
3   50       UA       132   N14121  JFK    LAX  339      2475     15   45
4  -15       DL      1779   N326US  LGA    FLL  146      1076     14   41
5    8       DL      2047   N668DN  LGA    ATL  125       762      7   59
6   -1       B6       925   N649JB  JFK    TPA  149      1005     10   30
7   -2       UA      1624   N18223  EWR    FLL  167      1065     15   29
8   21       UA       397   N554UA  JFK    SFO  349      2586      8    0
9  -16       MQ      3216   N658MQ  JFK    ORF   54       290     17    0
10  65       B6        86   N236JB  JFK    ROC   54       264     17   29
11  13       AA        85   N380AA  JFK    SFO  381      2586     15   30
12 -13       EV      4662   N26549  EWR    RDU   69       416     10   50
13  -8       B6       209   N524JB  JFK    LGB  326      2465     13   58
14  -9       DL       461   N612DL  LGA    ATL  121       762      6    0
15   0       EV      4125   N15986  EWR    GSO   72       445      7   56
16  55       EV      4596   N11109  EWR    STL  134       872     15   59
17 -25       DL      2449   N302NB  LGA    DTW   83       502     11    0
   time_hour
1  2013-02-11 09:00:00
2  2013-09-30 13:00:00
3  2013-03-06 15:00:00
4  2013-08-18 14:00:00
5  2013-03-11 07:00:00
6  2013-12-12 10:00:00
7  2013-02-01 15:00:00
8  2013-01-02 08:00:00
9  2013-08-15 17:00:00
10 2013-08-28 17:00:00
11 2013-12-03 15:00:00
12 2013-01-11 10:00:00
13 2013-05-29 13:00:00
14 2013-01-28 06:00:00
15 2013-07-30 07:00:00
16 2013-08-13 15:00:00
17 2013-09-13 11:00:00

In [39]:
install.packages('tidyr', repos='http://cran.us.r-project.org')

Installing package into 'C:/Users/Lauren Redpath/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
also installing the dependency 'lifecycle'

package 'lifecycle' successfully unpacked and MD5 sums checked
package 'tidyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Lauren Redpath\AppData\Local\Temp\RtmpmszC9y\downloaded_packages

In [40]:
library(tidyr)
library(data.table)

Attaching package: 'data.table'

The following objects are masked from 'package:dplyr':

    between, first, last

In [41]:
comp<-c(1,1,1,2,2,2,3,3,3)
yr<-c(1998,1999,2000,1998,1999,2000,1998,1999,2000)
q1<-runif(9, min=0, max=100)
q2<-runif(9, min=0, max=100)
q3<-runif(9, min=0, max=100)
q4<-runif(9, min=0, max=100)

df<-data.frame(comp=comp,year=yr,Qtr1=q1,Qtr2=q2,Qtr3=q3,Qtr4=q4)

In [42]:
df

  comp year Qtr1      Qtr2     Qtr3     Qtr4
1 1    1998  3.765902 89.65480 97.85243 40.857905
2 1    1999 41.725489 88.86671 19.69185 32.643004
3 1    2000 21.120940 14.67590 79.38951 67.354119
4 2    1998  2.989351 87.68284 33.42647 89.339741
5 2    1999 77.970850 86.77835 81.62443  3.348232
6 2    2000 71.660491 31.73420 48.00853 42.945713
7 3    1998 43.598692 32.27633 33.48178 40.731906
8 3    1999  3.704976 47.25007 70.19807 35.302891
9 3    2000 13.732186 93.24084 68.62414 29.544133

In [46]:
dim(df)

[1] 9 6

In [43]:
head(df %>% gather(Quarter,Revenue,Qtr1:Qtr4))
#pipeoperator

  comp year Quarter Revenue
1 1    1998 Qtr1     3.765902
2 1    1999 Qtr1    41.725489
3 1    2000 Qtr1    21.120940
4 2    1998 Qtr1     2.989351
5 2    1999 Qtr1    77.970850
6 2    2000 Qtr1    71.660491

In [47]:
dim(df)

[1] 9 6

In [44]:
head(gather(df,Quarter,Revenue,Qtr1:Qtr4))

  comp year Quarter Revenue
1 1    1998 Qtr1     3.765902
2 1    1999 Qtr1    41.725489
3 1    2000 Qtr1    21.120940
4 2    1998 Qtr1     2.989351
5 2    1999 Qtr1    77.970850
6 2    2000 Qtr1    71.660491

In [45]:
dim(df)

[1] 9 6

In [49]:
stocks<-data.frame(
time=as.Date('2009-01-01')+0:9,
x=rnorm(10,0,1),
y=rnorm(10,0,2),
z=rnorm(10,0,4))
stocks

   time       x          y          z
1  2009-01-01  0.9300427  1.9040332  1.1127513
2  2009-01-02 -0.4934110 -0.4152096 -2.4993674
3  2009-01-03  0.6031648 -0.4463962  4.5076409
4  2009-01-04 -1.0167714 -1.0600970  0.9264856
5  2009-01-05  0.9853643 -0.1025638 -4.0516127
6  2009-01-06  0.7593409 -0.6514390 -0.4460233
7  2009-01-07 -1.1146559 -1.2743972 -5.2289829
8  2009-01-08  0.6670469  1.7167491 -1.8806701
9  2009-01-09  0.7439220 -2.7756904  4.0634285
10 2009-01-10 -0.1663735 -5.4508926  6.4068069

In [50]:
stocksm<-stocks %>% gather(stock,price, -time)

In [51]:
head(stocksm)

  time       stock price
1 2009-01-01 x      0.9300427
2 2009-01-02 x     -0.4934110
3 2009-01-03 x      0.6031648
4 2009-01-04 x     -1.0167714
5 2009-01-05 x      0.9853643
6 2009-01-06 x      0.7593409

In [52]:
head(stocksm, n=10)

   time       stock price
1  2009-01-01 x      0.9300427
2  2009-01-02 x     -0.4934110
3  2009-01-03 x      0.6031648
4  2009-01-04 x     -1.0167714
5  2009-01-05 x      0.9853643
6  2009-01-06 x      0.7593409
7  2009-01-07 x     -1.1146559
8  2009-01-08 x      0.6670469
9  2009-01-09 x      0.7439220
10 2009-01-10 x     -0.1663735

In [53]:
stocksm %>% spread(stock,price)
#stocksm %>% spread(key=stock,value=price)
#use to reshape data

   time       x          y          z
1  2009-01-01  0.9300427  1.9040332  1.1127513
2  2009-01-02 -0.4934110 -0.4152096 -2.4993674
3  2009-01-03  0.6031648 -0.4463962  4.5076409
4  2009-01-04 -1.0167714 -1.0600970  0.9264856
5  2009-01-05  0.9853643 -0.1025638 -4.0516127
6  2009-01-06  0.7593409 -0.6514390 -0.4460233
7  2009-01-07 -1.1146559 -1.2743972 -5.2289829
8  2009-01-08  0.6670469  1.7167491 -1.8806701
9  2009-01-09  0.7439220 -2.7756904  4.0634285
10 2009-01-10 -0.1663735 -5.4508926  6.4068069

In [54]:
df<-data.frame(x=c(NA, "a.x","b.y","c.z"))
df

  x
1 NA
2 a.x
3 b.y
4 c.z

In [55]:
df %>% separate(x,c("ABC", "XYZ"))

  ABC XYZ
1 NA  NA
2 a   x
3 b   y
4 c   z

In [56]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [57]:
unite_(mtcars, "vs.am",c("vs","am"), sep=".")

                    mpg  cyl disp  hp  drat wt    qsec  vs.am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0.1   4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0.1   4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1.1   4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1.0   3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0.0   3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1.0   3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0.0   3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1.0   4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1.0   4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1.0   4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1.0   4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0.0   3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0.0   3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0.0   3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0.0   3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0.0   3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0.0   3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1.1   4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1.1   4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1.1   4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1.0   3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0.0   3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0.0   3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0.0   3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0.0   3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1.1   4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0.1   5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1.1   5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0.1   5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0.1   5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0.1   5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1.1   4    2

In [58]:
mtcars %>% #pipe mtcars as input
    unite(vs_am,vs,am) %>% #put together vs and am columns
    separate(vs_am, c("vs","am"))#separate back into vs and am columns

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2