Import Pandas, Numpy and OS libraries

In [79]:
import pandas as pd
import numpy as np
import os

Read in the peanut_lines CSV file as **peanut_lines** (Use encoding='ISO-8859-1')

In [80]:
os.chdir('G:\\My Drive\\classes\\CS590 - Special Topics - R and Python Programming\\jcdunne.CS590')

In [81]:
lines = pd.read_csv('peanut_lines.csv', encoding='ISO-8859-1')

Check the head of the files

In [82]:
lines.head()

    NC_Accession Identity or Parentage Pedigree    FAG
0  ACI WT09-0761         ACI WT09-0761      NaN  Check
1  ACI WT11-0351         ACI WT11-0351      NaN  ol ol
2  ACI WT12-0226         ACI WT12-0226      NaN  ol ol
3  ACI WT12-0419         ACI WT12-0419      NaN  Check
4  ACI WT12-0420         ACI WT12-0420      NaN  ol ol

Use the .info() method to find out how many peanut_lines are in the dataframe
**Bonus: Print the total number of entries?

In [8]:
lines.count()

NC_Accession             466
Identity or Parentage    466
Pedigree                 409
FAG                      466
dtype: int64

In [9]:
lines.info()
#bonus print(lines.shape[0])
#shape is an attribute where it will print off the number of row [0], or columns[1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 4 columns):
NC_Accession             466 non-null object
Identity or Parentage    466 non-null object
Pedigree                 409 non-null object
FAG                      466 non-null object
dtypes: object(4)
memory usage: 26.9+ KB

Read in the peanut_yield text file as peanut_yield (Use encoding='ISO-8859-1')

In [20]:
y = pd.read_csv('peanut_yield.txt', sep = '\t', encoding='ISO-8859-1')

Check the column names of peanut_yield

In [21]:
y.columns

Index(['Year', 'Location', 'Name', 'Label', 'NC_Accession', 'Plot_Yield',
       'Yield'],
      dtype='object')

In [22]:
y.head(3)

,Year,Location,Name,Label,NC_Accession,Plot_Yield,Yield
0,2014,LEW,ATP,Advanced Testing Program - Yield,ACI WT09-0761,9.0,2733
1,2014,RMT,ATP,Advanced Testing Program - Yield,ACI WT09-0761,10.2,3085
2,2014,WHI,ATP,Advanced Testing Program - Yield,ACI WT09-0761,10.2,3085

Using 'NC_Accession', merge (or join) the two dataframes together keeping the entirety of the peanut_yield data. Name the new dataframe peanut_data

In [24]:
peanut_data = pd.merge(lines, y, how='inner', on='NC_Accession')
#want to keep the 'entirity of the peanut_yield data' therefore should be how='right'
#only reason it is 'right' is because yield is the second one, it is to the right of 'lines'

In [26]:
peanut_data.head()

,NC_Accession,Identity or Parentage,Pedigree,FAG,Year,Location,Name,Label,Plot_Yield,Yield
0,ACI WT09-0761,ACI WT09-0761,NaN,Check,2014,LEW,ATP,Advanced Testing Program - Yield,9.0,2733
1,ACI WT09-0761,ACI WT09-0761,NaN,Check,2014,RMT,ATP,Advanced Testing Program - Yield,10.2,3085
2,ACI WT09-0761,ACI WT09-0761,NaN,Check,2014,WHI,ATP,Advanced Testing Program - Yield,10.2,3085
3,ACI WT11-0351,ACI WT11-0351,NaN,ol ol,2015,LEW,ATP,Advanced Testing Program - Yield,15.3,4632
4,ACI WT11-0351,ACI WT11-0351,NaN,ol ol,2015,RMT,ATP,Advanced Testing Program - Yield,10.7,3226

What is the average yield in 2017?

In [29]:
peanut_data.groupby('Year').mean()
#peanut_data['Yield'][peanut_data['Year']==2017].mean()

      Plot_Yield        Yield
Year
2010    7.508470  2270.745902
2011   11.873512  3591.779762
2012   11.610753  3512.265233
2013   10.958824  3315.434641
2014   13.937624  4216.112211
2015   16.161500  4888.665000
2016   10.330000  3125.374074
2017   13.161333  3981.600000
2018   11.975667  3623.333333

What was the aveerage yield of the top 10 lines tested in the peanut program?

In [44]:
data_mean=peanut_data.groupby('NC_Accession').mean()
#better/easier = data_mean=peanut_data.groupby('NC_Accession').mean()['Yield'].sort_values(ascending=False).head(10)]
data_mean.head()

                 Year  Plot_Yield        Yield
NC_Accession
ACI WT09-0761  2014.0        9.80  2967.666667
ACI WT11-0351  2015.0       13.00  3929.000000
ACI WT12-0226  2015.0       14.35  4338.000000
ACI WT12-0419  2014.0        7.60  2302.333333
ACI WT12-0420  2015.0       13.80  4173.000000

In [59]:
dfsorted=data_mean.sort_values(by=['Yield'])
dfsorted.tail(10)

                Year  Plot_Yield        Yield
NC_Accession
N15001        2015.0   16.400000  4954.000000
PD 14003      2015.0   16.350000  4959.000000
PD 14002      2015.0   16.800000  5082.500000
N14025        2014.0   16.866667  5095.000000
N15055        2015.0   16.950000  5129.500000
N15066        2015.0   17.150000  5190.500000
N15004        2015.0   17.150000  5197.000000
N15060        2015.0   17.250000  5209.500000
N15006        2015.0   17.350000  5250.000000
N17045        2018.0   18.100000  5483.666667

What are the top 10 most commonly tested lines? Hint: value_counts()

In [83]:
peanut_data.NC_Accession.value_counts().head(10)

N11028        34
Bailey        26
Sullivan      26
Sugg          26
Wynne         26
Emery         26
N11020        20
Bailey II     20
Florida-07    20
N08085        18
Name: NC_Accession, dtype: int64

Create a dataframe that satisfy the following requirements 
peanut lines = 'Bailey', 'Sullivan', 'Wynne', 'Emery', 'Bailey II', 'N14023' 
location = 'LEW', 'RMT' #Lewiston and Rocky Mount 
Dataframe = line_data

In [86]:
peanut_lines = 'Bailey', 'Sullivan', 'Wynne', 'Emery', 'Bailey II', 'N14023' 
location = 'LEW', 'RMT' #Lewiston and Rocky Mount 
line_data= peanut_data[(peanut_data['NC_Accession'].isin(peanut_lines))&(peanut_data['Location'].isin(location))]

In [88]:
line_data.head(10)

,NC_Accession,Identity or Parentage,Pedigree,FAG,Year,Location,Name,Label,Plot_Yield,Yield
15,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2010,LEW,ATP,Advanced Testing Program - Yield,11.7,3529
16,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2010,RMT,ATP,Advanced Testing Program - Yield,6.6,2004
18,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2011,LEW,ATP,Advanced Testing Program - Yield,13.6,4114
19,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2011,RMT,ATP,Advanced Testing Program - Yield,17.1,5159
21,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2012,LEW,ATP,Advanced Testing Program - Yield,12.8,3873
22,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2012,RMT,ATP,Advanced Testing Program - Yield,10.9,3306
24,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2013,LEW,ATP,Advanced Testing Program - Yield,12.5,3774
25,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2013,RMT,ATP,Advanced Testing Program - Yield,12.5,3781
27,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2014,LEW,ATP,Advanced Testing Program - Yield,16.3,4926
28,Bailey,NC 12C*2 / N96076L,BC1F1-06-01-S-03-S-05: F09,+ +,2014,RMT,ATP,Advanced Testing Program - Yield,12.1,3660

Export the means of each line by location to an excel file called 'NCSU_release.xlsx'

In [89]:
line_data.groupby(['Location','NC_Accession']).mean()['Yield'].to_excel('NCSU_Release.xlsx')