In [1]:
#if else and elif statements

In [3]:
if True:
    print('The value was TRUE')
    
#use colon instead of curley bracket
#MUST INDENT!!!

The value was TRUE

In [4]:
x = False

if x:
    print('X is True')
else:
    print('This will always be printed becuase X is a defined variable')
    #if and else statement need to be in line with each other!

This will always be printed becuase X is a defined variable

In [5]:
x = True
#conditional if statement
if x == True:
    print('X is True')
else:
    print('X is False')

X is True

In [6]:
#multiple branching

loc = 'Clayton'

if loc =='Lewiston':
    print('The peanut belt research station')
elif loc == 'Rocky Mount':
    print('the upper coastal plains research station')
elif loc =='Whiteville':
    print('the brderbelt tobacco research station')
else:
    print('This is not a peanut research station')
#because else, it indicates that there is no other action to take

This is not a peanut research station

In [8]:
#working with dataframes

import pandas as pd
import numpy as np
import os

os.chdir('G:\\My Drive\\classes\\CS590 - Special Topics - R and Python Programming\\jcdunne.CS590')
y = pd.read_csv('peanut_yield.txt', sep = '\t', encoding='ISO-8859-1')

In [9]:
y.head()

,Year,Location,Name,Label,NC_Accession,Plot_Yield,Yield
0,2014,LEW,ATP,Advanced Testing Program - Yield,ACI WT09-0761,9.0,2733
1,2014,RMT,ATP,Advanced Testing Program - Yield,ACI WT09-0761,10.2,3085
2,2014,WHI,ATP,Advanced Testing Program - Yield,ACI WT09-0761,10.2,3085
3,2015,LEW,ATP,Advanced Testing Program - Yield,ACI WT11-0351,15.3,4632
4,2015,RMT,ATP,Advanced Testing Program - Yield,ACI WT11-0351,10.7,3226

In [10]:
if y['Yield'].loc[0]>y['Yield'].loc[1]:
    print(y['Yield'].loc[0],">",y['Yield'].loc[1])
else:
    print(y['Yield'].loc[0],"<",y['Yield'].loc[1])

2733 < 3085

In [11]:
if y['Yield'].loc[2]>y['Yield'].loc[1]:
    print(y['Yield'].loc[2],">",y['Yield'].loc[1])
elif y['Yield'].loc[2]==y['Yield'].loc[1]:
    print(y['Yield'].loc[2],"=",y['Yield'].loc[1])
else:
    print(y['Yield'].loc[2],"<",y['Yield'].loc[1])

3085 = 3085

In [15]:
peanut = pd.DataFrame({'Lines':['Bailey','Bailey II','Sullivan','Emery'],'Yield':[5100, 5600, 5200, 4900]})
peanut

       Lines  Yield
0     Bailey   5100
1  Bailey II   5600
2   Sullivan   5200
3      Emery   4900

In [16]:
select = 550

if max(peanut['Yield']>select):
    print('a peanut line has greater than 5500 lbs per acre')
else:
    print('there are no peanut lines htat meet the 5500 lbs per acre thrshhold')

a peanut line has greater than 5500 lbs per acre

In [18]:
test = max('Yield')

if peanut['Yield'][0] == test:
    print(penaut['Lines'][0], 'has the greatest yield')
else:
    print('a different line has the greatest yield')

a different line has the greatest yield

In [20]:
if peanut['Yield'][0] == test:
    print(peanut['Lines'][0], 'has the greatest yield')
elif peanut['Yield'][1] == test:
    print(peanut['Lines'][1], 'has the greatest yield')
elif peanut['Yield'][2] == test:
    print(peanut['Lines'][2], 'has the greatest yield')
else:
    print(peanut['Lines'][3], 'has the greatest yield')

Emery has the greatest yield

In [23]:
#for loops
# for items in objects (enter, tab) statements to do stuff

list1 = [1,2,3,4,5,6,7,8,9,10]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
for num in list1:
    #createing num which is a variable that has not yet been defined
    print (num)
    #not that will print the actual elements in list

1
2
3
4
5
6
7
8
9
10

In [26]:
# in string
for i in "This string":
    print(i)

T
h
i
s

s
t
r
i
n
g

In [27]:
# iterating over tuples
tup = (1,2,3,4,5)
#know it is a tuple bc of the () as opposed to the []
for t in tup:
    print(t)

1
2
3
4
5

In [28]:
list2=[(1,2),(3,4),(5,6)]
for tup in list2:
    print(tup)

(1, 2)
(3, 4)
(5, 6)

In [29]:
for (t1,t2) in list2:
    print('element 1=', t1, 'element 2 =',t2)

element 1= 1 element 2 = 2
element 1= 3 element 2 = 4
element 1= 5 element 2 = 6

In [35]:
#iterating over a dictionary object
d = {'key1':506, 'key2':79, 'key3':3001}
for item in d:
    print(item)

key1
key2
key3

In [36]:
d.items()

dict_items([('key1', 506), ('key2', 79), ('key3', 3001)])

In [38]:
for k,v in d.items():
    print(k)
    print(v)

key1
506
key2
79
key3
3001

In [39]:
list(d.keys())

['key1', 'key2', 'key3']

In [40]:
sorted(d.values())

[79, 506, 3001]

In [42]:
for v in sorted(d.values()):
    print(v)

79
506
3001

In [44]:
for k,v in enumerate(d):
    print(k)
    print(v)
    #numeric form of iterating over key elements

0
key1
1
key2
2
key3

In [45]:
list_sum=0
list1=[1,2,3,4,5,6,7,8,9,10]

for num in list1:
    list_sum = list_sum +num
    # can also write list_sum+=num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [48]:
#nesting loops
17 % 5
#modulo which give you a remainder

2

In [49]:
for num in list1:
    if num % 2 ==0:
        print(num)
        #note the double indent

2
4
6
8
10

In [50]:
for num in list1:
    if num % 2 ==0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [52]:
peanut

       Lines  Yield
0     Bailey   5100
1  Bailey II   5600
2   Sullivan   5200
3      Emery   4900

In [54]:
test = max(peanut['Yield'])

#this replaces all elif statements!

#range is creating a range through thich to iterate, which mean 0:3 (beginning to end of this data frame)
#add one to the end of the range bc it covrs up to the last specifie range, not through it

for i in range(0,4):
    if peanut['Yield'][i] ==test:
        print(peanut['Lines'][i],'has the greatest yield')

Bailey II has the greatest yield