R is a glorified calculator. It has basic math operations and complex porgrams
Note that the short cut to 'run' is control+enter

In [1]:
# subttraction/addition
120 - 45

[1] 75

In [3]:
#multiplication
15*5

[1] 75

In [4]:
#division
4/9

[1] 0.4444444

In [5]:
#exponent
5^123

[1] 9.403955e+85

In [6]:
#expotent alternate "^" or "**"
5**123

[1] 9.403955e+85

In [7]:
#modulo --> using "%%" will give you the 'remainder' as opposed to decimal
5%%2

[1] 1

In [8]:
#order of operations
(100*2)+(50/2^6)

[1] 200.7812

In [10]:
#variables = use "<-" this notation; this expression will name a variable. Note that it may be beneficial for the variable to have 2 names
variable.name<-50

In [11]:
variable.name

[1] 50

In [12]:
#varialbes using arithmatic --> can addvariables together to make new/modify variables
bank.account<-100

In [14]:
deposit<-10

In [15]:
#alternatively to just output the value instead of storing it, can simply just add the two variables in "bank.account + deposit"
bank.account<-bank.account+deposit

In [16]:
#note a new value has been stored for variable - this permanently reassigns variable values
bank.account

[1] 110

In [17]:
#numeric - floating point value
n <-2.2

In [19]:
#numeric - interger
i<-5

In [22]:
#logical - booleans (True and False)
t<-TRUE
f<-FALSE

In [23]:
t

[1] TRUE

In [24]:
#character values - strings; notes single quotes or double quotes can be used
char <- "hello world"

In [25]:
char

[1] "hello world"

In [26]:
#to check numeric or character, use 'class' --> note that in rstudio, class statement variables need to have quotations?
class(char)

[1] "character"

In [28]:
class(i)

[1] "numeric"

In [29]:
class(t)

[1] "logical"

In [30]:
#in a string becareful with contractions and single quotes, note that either single or double quotes are acceptable for a string

In [31]:
#nchar tells you the number of characters involved in a string
nchar('hello world')

[1] 11

In [32]:
#print function acts as an argument vs just repeating the text
print('this is a sentence')

[1] "this is a sentence"

In [33]:
s="printed text"

In [35]:
sprintf("this string will include %s", s)

[1] "this string will include printed text"

In [37]:
#%s indicates that at somepoint in time we are inserting some formatted text the following comma-s indicates what text should be
#use %i for interger, %n for numeric, %s for srting or just a comma and tell use waht it is 
sprintf("this string will include %s", 'additional text')

[1] "this string will include additional text"

In [39]:
string1<-"additional text"
string2<-"at the end"
string3<-"of the sentence"

sprintf("this string will include %s %s %s", string1, string2, string3)

[1] "this string will include additional text at the end of the sentence"

In [40]:
toupper("hello world")

[1] "HELLO WORLD"

In [42]:
tolower("VACCINIUM FUSCATUM")

[1] "vaccinium fuscatum"

In [45]:
strsplit("hello world"," ")

[[1]]
[1] "hello" "world"

In [46]:
#visualize an array
nvec<-c(1,2,3,4,5)

In [47]:
nvec

[1] 1 2 3 4 5

In [48]:
class(nvec)

[1] "numeric"

In [50]:
cvec<-c("n", "i","c")

In [51]:
cvec

[1] "n" "i" "c"

In [52]:
class(cvec)

[1] "character"

In [53]:
lvec<-c(TRUE, FALSE)

In [55]:
lvec

[1]  TRUE FALSE

In [56]:
class(lvec)

[1] "logical"

In [58]:
v<-c(FALSE,1)

In [59]:
class(v)

[1] "numeric"

In [60]:
#note that it forces the falso to be 0 and it is processed as numeric
v

[1] 0 1

In [63]:
#list can contain any and multiple different types of data types within a single list
sample.list<-list("A",1,TRUE)

In [64]:
sample.list

[[1]]
[1] "A"

[[2]]
[1] 1

[[3]]
[1] TRUE

In [65]:
class(sample.list)

[1] "list"

In [66]:
name()

ERROR: Error in name(): could not find function "name"

In [67]:
temps1<-c(78, 79, 80,67, 89,69,77)

In [68]:
temps1

[1] 78 79 80 67 89 69 77

In [70]:
#note that it will be named on the order inwhich  the first list is in
names(temps1) <-c("m",'t','w','r','f','s','u')

In [71]:
temps1

 m  t  w  r  f  s  u
78 79 80 67 89 69 77

In [72]:
days<-c("m",'t','w','r','f','s','u')
temps2<-c(89,91,90,96,78,94,56)

In [74]:
names(temps2)<-days

In [75]:
temps2

 m  t  w  r  f  s  u
89 91 90 96 78 94 56

In [76]:
#vector operations
v1<-c(1,2,3)
v2<-c(4,5,6)

In [77]:
v1+v2

[1] 5 7 9

In [78]:
v1-v2

[1] -3 -3 -3

In [79]:
v1*v2

[1]  4 10 18

In [80]:
sum(v1)

[1] 6

In [82]:
prod(v1)

[1] 6

In [83]:
prod(v2)

[1] 120

In [84]:
sd(v1)

[1] 1

In [85]:
#greater than or less than --> outputs  boolean output/logical test
5>6

[1] FALSE

In [86]:
6>5

[1] TRUE

In [87]:
v1<v2

[1] TRUE TRUE TRUE

In [88]:
6<=6

[1] TRUE

In [89]:
var = 1

In [91]:
#note space
var < -1

[1] FALSE

In [92]:
5==6

[1] FALSE

In [93]:
#!= means 'not equal to'
5!=6

[1] TRUE

In [94]:
v1<2

[1]  TRUE FALSE FALSE

In [97]:
v1<-c('a','b','c')
v2<-c(09123,99834,98)

In [98]:
v1

[1] "a" "b" "c"

In [99]:
#how to index an element within a vector -->this will pull out whichever indicated element
v2[2]

[1] 99834

In [101]:
v2[2:3]

[1] 99834    98

In [102]:
#need vector within vector to pull out designated varaibles, otherwise it may just tell you all variables if you use a colon
v1[c(1,3)]

[1] "a" "c"

In [103]:
v2[1:3]

[1]  9123 99834    98

In [105]:
#colons set up a range and will pull out all elements within the designated range
v3 <- c(1,2,3,4,4.5,5,6,7,8,9,10)

In [106]:
v3[3:6]

[1] 3.0 4.0 4.5 5.0

In [107]:
names(v3)<-c('a','b','c','d','s','e','g','t','u','w')

In [109]:
v3["b"]

b
2

In [112]:
#compares element by element and returns locical statement
v3>2

    a     b     c     d     s     e     g     t     u     w  <NA>
FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [114]:
#this will just return those forwhich  the statement is true
v3[v3>2]

   c    d    s    e    g    t    u    w <NA>
 3.0  4.0  4.5  5.0  6.0  7.0  8.0  9.0 10.0

In [119]:
filter <-v3>2

In [120]:
filter

    a     b     c     d     s     e     g     t     u     w  <NA>
FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [121]:
v3[filter]

   c    d    s    e    g    t    u    w <NA>
 3.0  4.0  4.5  5.0  6.0  7.0  8.0  9.0 10.0