In [1]:
#if, else, and else if statements

#basic syntax

#if (condition){
    #execute some code
#}

In [2]:
hot <- FALSE
temp <-60

In [4]:
if (temp>80){
    hot<- TRUE
}
#if temp is greater than 80 it will reassign hot to true
hot

[1] FALSE

In [5]:
temp2<-100
if (temp2>80){
    hot<- TRUE
}
hot

[1] TRUE

In [6]:
#adding else statement
#if (condition){
    #execute some code
#}else{
    #additional code
#}

In [9]:
temp3<-75
if(temp3>95){
    print('Too hot to pick peanuts')
}else{
    print('Not a bad day for combining!')
}

[1] "Not a bad day for combining!"

In [10]:
#adding elseif statement
#if (condition){
    #execute some code
#}else if(condition2){
    #additional code which matches some condition but other conditions still exist
#}else if(condition3{
    #more condition, can have multiple
#}
#ends on else statement

In [11]:
if(temp3>80){
    print('hot day for picking peanuts')
}else if(temp <80 & temp >50){
    print('perfefct combining weather')
}else if (temp <50 & temp>32){
    print('are we in Michigan?')
}else{
    print('global warming is fake news')
}

[1] "perfefct combining weather"

In [14]:
#multiple conditions useing if, else if, else
line <- 'N140223'
yield <- 5800
leaf_spot <- 2.5

report<-'Blank'

if(yield >= 5500 & leaf_spot <=3){
    report <- paste('Release',line)
}else if (yield >= 5500 & leaf_spot > 3){
    report<- paste(line, ' is a good agronomic parent')
}else if (yield <= 5500 & leaf_spot<=3){
    report<-paste(line, 'is a good didease resistant parent')
}else{
    report<-paste('Drop',line)
}
report

[1] "Release N140223"

In [15]:
lines<-c('Bailey','Bailey II','Sullivan','Emery')
yield <-c(5100, 5200, 5600, 4900)
peanuts<-data.frame(lines, yield)
peanuts

  lines     yield
1 Bailey    5100
2 Bailey II 5200
3 Sullivan  5600
4 Emery     4900

In [17]:
test<-min(peanuts$yield)
test

[1] 4900

In [21]:
if(peanuts$yield[1]==test)
    #alternatively if(peanuts$yield[1]==min(peanuts$yield))
    {
    print(paste(peanuts$lines[1], 'has the lowest yield'))
}else{
    print('Another peanut line has a lower yield')
}

[1] "Another peanut line has a lower yield"

In [22]:
if(peanuts$yield[1]==min(peanuts$yield)){
    print(paste(peanuts$lines[1], 'has the lowest yield'))
}else if (peanuts$yield[2]==min(peanuts$yield)){
    print(paste(peanuts$lines[2], 'has the lowest yield'))
}else if (peanuts$yield[3]==min(peanuts$yield)){
    print(paste(peanuts$lines[3], 'has the lowest yield'))
}else if (peanuts$yield[4]==min(peanuts$yield)){
    print(paste(peanuts$lines[4], 'has the lowest yield'))
}

[1] "Emery has the lowest yield"

In [24]:
#to cycle through each column in meaningful manner until the condition is true
#use a for loop

for (i in 1:4){
    if (peanuts$yield[i]==test)
        print(paste(peanuts$lines[i], 'has the lowest yield'))
}

[1] "Emery has the lowest yield"

In [25]:
#for loops

#for(temporary variale in object){
#execute some code
#}

In [34]:
vec <- c(1:10)

In [35]:
for (temp_var in vec){
    print(temp_var)
}
#temp_var becomes an iteration

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [36]:
for (temp_var in 1:3){
    print(temp_var)
}
#creates a range but not that it is not pulling from anywhere, it is creating it

[1] 1
[1] 2
[1] 3

In [37]:
for (temp_var in 3:length(vec)){
    print (vec[temp_var])
}
#this one created a range within vec
#length determines without saying whatever the end of the vector
#3 just indictes from the 3rd vaiable

[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [38]:
vec<-c(510,2,1,1.3,60,54)
for (temp_var in 3:length(vec)){
    print (vec[temp_var])
}
#3 just indictes from the 3rd vaiable

[1] 1
[1] 1.3
[1] 60
[1] 54

In [39]:
df<-women

for (i in 1:length(df)){
    print(paste(sprintf('Individual %s', i),'Height = ', df$height[i], 'and weight =', df$weight[i]))
}

[1] "Individual 1 Height =  58 and weight = 115"
[1] "Individual 2 Height =  59 and weight = 117"

In [41]:
df<-women
nrow(df)

[1] 15

In [40]:
for (i in 1:nrow(df)){
    print(paste(sprintf('Individual %s', i),'Height = ', df$height[i], 'and weight =', df$weight[i]))
}
#nrow includes all of the rows within the data frame
#bc nrow=15 it will cycle through this infor 15 times
#bracketed i as in [i] treats whatever before it as an index

[1] "Individual 1 Height =  58 and weight = 115"
[1] "Individual 2 Height =  59 and weight = 117"
[1] "Individual 3 Height =  60 and weight = 120"
[1] "Individual 4 Height =  61 and weight = 123"
[1] "Individual 5 Height =  62 and weight = 126"
[1] "Individual 6 Height =  63 and weight = 129"
[1] "Individual 7 Height =  64 and weight = 132"
[1] "Individual 8 Height =  65 and weight = 135"
[1] "Individual 9 Height =  66 and weight = 139"
[1] "Individual 10 Height =  67 and weight = 142"
[1] "Individual 11 Height =  68 and weight = 146"
[1] "Individual 12 Height =  69 and weight = 150"
[1] "Individual 13 Height =  70 and weight = 154"
[1] "Individual 14 Height =  71 and weight = 159"
[1] "Individual 15 Height =  72 and weight = 164"

In [42]:
# nesting for loops

mat<-matrix(1:25, nrow=5, byrow=FALSE)

In [43]:
mat

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   16   21
[2,] 2     7   12   17   22
[3,] 3     8   13   18   23
[4,] 4     9   14   19   24
[5,] 5    10   15   20   25

In [46]:
for (row in 1:nrow(mat)){
    for(col in 1:ncol(mat)){
        print(paste('the element at row:',row,'and column:', col, 'is',mat[row,col]))
    }
}

[1] "the element at row: 1 and column: 1 is 1"
[1] "the element at row: 1 and column: 2 is 6"
[1] "the element at row: 1 and column: 3 is 11"
[1] "the element at row: 1 and column: 4 is 16"
[1] "the element at row: 1 and column: 5 is 21"
[1] "the element at row: 2 and column: 1 is 2"
[1] "the element at row: 2 and column: 2 is 7"
[1] "the element at row: 2 and column: 3 is 12"
[1] "the element at row: 2 and column: 4 is 17"
[1] "the element at row: 2 and column: 5 is 22"
[1] "the element at row: 3 and column: 1 is 3"
[1] "the element at row: 3 and column: 2 is 8"
[1] "the element at row: 3 and column: 3 is 13"
[1] "the element at row: 3 and column: 4 is 18"
[1] "the element at row: 3 and column: 5 is 23"
[1] "the element at row: 4 and column: 1 is 4"
[1] "the element at row: 4 and column: 2 is 9"
[1] "the element at row: 4 and column: 3 is 14"
[1] "the element at row: 4 and column: 4 is 19"
[1] "the element at row: 4 and column: 5 is 24"
[1] "the element at row: 5 and column: 1 is 5"
[1] "the element at row: 5 and column: 2 is 10"
[1] "the element at row: 5 and column: 3 is 15"
[1] "the element at row: 5 and column: 4 is 20"
[1] "the element at row: 5 and column: 5 is 25"

In [47]:
li<-list(vec, mat, df)

In [48]:
for (i in li){
    print(i)
}

[1] 510.0   2.0   1.0   1.3  60.0  54.0
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    6   11   16   21
[2,]    2    7   12   17   22
[3,]    3    8   13   18   23
[4,]    4    9   14   19   24
[5,]    5   10   15   20   25
   height weight
1      58    115
2      59    117
3      60    120
4      61    123
5      62    126
6      63    129
7      64    132
8      65    135
9      66    139
10     67    142
11     68    146
12     69    150
13     70    154
14     71    159
15     72    164

In [49]:
li2<-list(df,df,df)

In [51]:
for (i in li2){
    print(i$height[1])
}

[1] 58
[1] 58
[1] 58