In [1]:
#addition
123+124

247

In [2]:
234-76

158

In [3]:
345*16

5520

In [4]:
23/6

3.8333333333333335

In [5]:
#exponents --> note that carrots do not work!
3^7

4

In [6]:
3**7

2187

In [7]:
#orders of operation
(23*568)-123^4

12937

In [9]:
#assigning variables --> note that how to assign is '=' as opposed to arrow
my_dogs = 2

In [10]:
my_dogs

2

In [11]:
my_dogs = ['billie', 'birdie']

In [12]:
my_dogs

['billie', 'birdie']

In [13]:
#variables name=expression
variable =50

In [14]:
variable

50

In [15]:
#will overwrite previous variable name
variable = variable+10

In [16]:
variable

60

In [17]:
#alternatively for shorthand
variable +=10

In [18]:
variable

70

In [19]:
variable*=2

In [20]:
variable

140

In [21]:
#like class statment
type(variable)

int

In [23]:
fl=2.3
type(fl)

float

In [24]:
s = "text"

In [25]:
s

'text'

In [26]:
type(s)

str

In [28]:
#booleans = True or False, note that only one caps as opposed to in R where it is TRUE or FALSE; note that Python is case sensitiv (thus 'true' does not compute)
t = True
f = False

In [29]:
type(t)

bool

In [30]:
#strings can either be single or double quotes, error still occurs with contractions 
'hello'

'helloworld'

In [31]:
"world"

'world'

In [32]:
"I'm using a contraction"

"I'm using a contraction"

In [34]:
#len counts lengths in a string including all spaces
len("hello world")

11

In [35]:
#print()
print('this is printed text where I still cannot use contractions')

this is printed text where I still cannot use contractions

In [36]:
#in R, sprintf() --> use a module .format() that allows you to input formatted text
print('the class {} begins at {}'.format('CS590','13:30'))

the class CS590 begins at 13:30

In [39]:
#alternatively using %s
print('the class %s begins at %s' %('CS590', '13:30'))

the class CS590 begins at 13:30

In [38]:
string1 = 'CS590'
string2 = '13:30'
print(' the class %s begins at %s'%(string1,string2))

 the class CS590 begins at 13:30

In [40]:
#list - variable = []
my_list = [1,2,3]

In [42]:
type(my_list)

list

In [43]:
my_list=['string',12,34,7,'text']

In [45]:
my_list

['string', 12, 34, 7, 'text']

In [46]:
len(my_list)

5

In [47]:
#indexing in Python; in R indexing begins at 1, in python, at 0
my_list[0]

'string'

In [48]:
my_list[1]

12

In [50]:
#pulls out all elements 1 and thereafter, but does not reset the list, thus element 0 is still there
my_list[1:]

[12, 34, 7, 'text']

In [51]:
my_list[4:]

['text']

In [52]:
#only useing a colon will pull everything
my_list[:]

['string', 12, 34, 7, 'text']

In [53]:
#to pull everything except for the last number
my_list[:-1]

['string', 12, 34, 7]

In [54]:
my_list[-1]

'text'

In [55]:
#pull out in incremental steps , use ::--> will pull out every other element (skips elements in increments defined after ::)
my_list[1::2]

[12, 7]

In [56]:
#reverses order
my_list[::-1]

['text', 7, 34, 12, 'string']

In [57]:
my_list +=['new item']

In [58]:
my_list

['string', 12, 34, 7, 'text', 'new item']

In [59]:
#method .format() using print function
#toupper tolower in R are all considered methods
list1 =[1,2,3]

In [60]:
list1.append('append me')

In [61]:
list1

[1, 2, 3, 'append me']

In [62]:
#this pops off the first or whatever designated in the list
list1.pop(0)

1

In [63]:
list1

[2, 3, 'append me']

In [64]:
new_list = ['a','e','d','j','n']

In [66]:
#note that sort is a permanent function
new_list.sort()

In [67]:
new_list

['a', 'd', 'e', 'j', 'n']

In [69]:
new_list.reverse()

In [70]:
new_list

['n', 'j', 'e', 'd', 'a']

In [78]:
ls1 = [1,2,3]
ls2 = [4,5,6]
ls3 = [234,63,8]

In [79]:
matrix = [ls1,ls2,ls3]
matrix

[[1, 2, 3], [4, 5, 6], [234, 63, 8]]

In [82]:
#this will pull out the first list (or whatever designated) in the matrix
matrix[0]

[1, 2, 3]

In [83]:
#this pulls out the desginated individual within the designated list of the matrix (matrix,list,individual)
matrix[0][2]

3

In [84]:
#basic way to add elements to a dictionary, kind of equivalent to a list in R
my_dict = {'key1':'value1','key2':'value2','key3':'value3'}

In [85]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [86]:
#to call a specific dictionary item
my_dict['key1']

'value1'

In [88]:
my_dict = {'key1':123,'key2':8234,'key3':['item1','item2','item3']}

In [89]:
my_dict

{'key1': 123, 'key2': 8234, 'key3': ['item1', 'item2', 'item3']}

In [91]:
my_dict['key3'][2]

'item3'

In [93]:
my_dict['key1']= my_dict['key1'] +87

In [94]:
my_dict

{'key1': 210, 'key2': 8234, 'key3': ['item1', 'item2', 'item3']}

In [96]:
#apppeneding and adding to a dictionary
my_dict['animal'] = 'dog'

In [97]:
my_dict

{'key1': 210,
 'key2': 8234,
 'key3': ['item1', 'item2', 'item3'],
 'animal': 'dog'}

In [98]:
d = {'key1':{'nestedkey':{'subnestkey':'value_sub'}}}

In [101]:
d['key1']['nestedkey']['subnestkey']

'value_sub'

In [102]:
my_dict.values()

dict_values([210, 8234, ['item1', 'item2', 'item3'], 'dog'])

In [103]:
my_dict.items()

dict_items([('key1', 210), ('key2', 8234), ('key3', ['item1', 'item2', 'item3']), ('animal', 'dog')])

In [104]:
#difference between a tuple 't' and a list... define a tuple with a parentheses, list is brackets
#cant change the values of a tuples --> cant add elements or appeend unless it is redefined, but you can sort and change the order, just not add or delete
#tuple
t = (1,2,3)
#list
list = [1,2,3]

In [105]:
type(t)

tuple

In [106]:
t=('one',2)

In [107]:
t[0]

'one'

In [108]:
t[-1]

2

In [109]:
t.append('change')

AttributeError: 'tuple' object has no attribute 'append'

In [116]:
#strings cannot be redefined like tuples
s= "hello world"

In [111]:
s[0]='x'

TypeError: 'str' object does not support item assignment

In [112]:
s+'again'

'helloworldagain'

In [117]:
#can add things this way
s=s+" again"

In [114]:
s

'helloworldagain'

In [118]:
s.upper()

'HELLO WORLD AGAIN'

In [119]:
s.lower()

'hello world again'

In [120]:
s.split()

['hello', 'world', 'again']

In [123]:
s.split('w')

['hello ', 'orld again']

In [124]:
x=set()

In [125]:
x.add(1)

In [126]:
x

{1}

In [127]:
x.add(2)

In [128]:
x

{1, 2}

In [130]:
#can only use add module if x is a set
x.add(1)

In [131]:
#sets will only display unique values from a list
x

{1, 2}

In [133]:
list1=[21,14,346,1,2,123,456,123,456,123,21,21,21]

In [134]:
set(list1)

{1, 2, 14, 21, 123, 346, 456}